*{
   color: #ececec;
   font-family: Roboto,'Open Sans','Helvetica Neue',sans-serif;
}

body{
margin: 0;
padding: 0;
}

.app{
    background-color: #212121;
    display: flex;
}

.app.light {
    background-color: #ffffff; 
}

.app.light * {
    color: #1a1a1a; 
}
